<!DOCTYPE html>
<html lang="en">

<head>
    <% include templates/head %>
</head>

<script>
    $(document).ready(function(){
        var date_input=$('input[name="date"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        var options={
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        };
        date_input.datepicker(options);
    })
</script>

<body >

<header>
    <% include templates/header %>
</header>

<div class="search">
    <div class="md-form active-pink active-pink-2 mb-3 mt-0">
        <input class="form-control search-icon" id="inp" type="text" placeholder="Search" aria-label="Keyword">
    </div>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">Advanced Search</a>
                </p>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="form-group"> <!-- Date input -->
                    <label class="control-label" for="date">Date</label>
                    <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
                </div>
                <div class="panel-footer">
                    <img src="/stylesheets/icons/pin.png" alt="home" style="width:40px;">
                    <a href="map" class="btn btn-outline-dark" role="button">Display Map</a>
                </div>
            </div>
        </div>
        <br>
    </div>
    <a href="search-results" class="btn btn-info btn-md" role="button">Search</a>
</div>

<div class="content">
    <% for(var i = 0; i < events.length; i++) { %>
        <a href="#" class="list-group list-group-item-action">
            <p><%= events[i].title%></p>
            <p><%= events[i].description %></p>
            <p><%= events[i].author %></p>
            <p><%= events[i].publishedAt %></p>
            <p><%= events[i].createdAt %></p>
        </a>
    <% } %>
</div>
​
<footer>
    <% include templates/footer %>
</footer>

</body>

</html>
