<!DOCTYPE html>
<html>
<head>
    <% include templates/head %>
</head>

<!-- displays all events from indexedDB -->
<body onload="initDB()">

<% include templates/header %>
<div style="display:none" id="alert">
</div>
<div class="search">
    <div class="offline_div" id="offline_div" style="color: darkred; display: none">You are offline</div>
    <!-- form for searching events -->
    <form id="searchForm" onsubmit="onSearch()" >
        <div class="form-group">
            <input class="form-control" id="eventName" name="eventName" type="text" placeholder="Event Name" aria-label="Keyword">
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a data-toggle="collapse" href="#collapse1">Advanced Search</a>
                    </p>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="form-group"> <!-- Date input -->
                        <label class="control-label" for="date">Date</label>
                        <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text"/>
                    </div>
                    <div class="panel-footer">
                        <img src="/stylesheets/icons/pin.png" alt="home" style="width:40px;">
                        <a href="map" class="btn btn-outline-dark" role="button">Display Map</a>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <input type="submit" name="search" id="search" value="Search" class="btn btn-info btn-md">
    </form>
</div>

<!-- DISPLAYING LATEST EVENTS -->
<div class="events content" id = "events" >
    <!--<script>var list = [];</script>-->
    <%for (var i=events.length-1; i>= 0; i--) {%>
    <a href='/view-event/<%= events[i].id %>' class='list-group list-group-item-action events'>
        <div class='card text-center'>
            <div class='card-header'>
                <h5 class='card-title'><%=events[i].title%></h5>
            </div>
            <div class='card-body'>
                <p><%=events[i].description%></p>
                <p><%=events[i].date%></p>
                <img src='/stylesheets/icons/right-arrow.png' width='15' float='right'>
                <script>saveEvent({title:"<%=events[i].title%>", description:"<%=events[i].description%>", date:"<%=events[i].date%>"})</script>
            </div>
        </div>
    </a>
    <% }%>
        <!--<script>saveEvent(list)</script>-->
        <p id="noEvent"></p>
</div>

<!-- script for keeping the title sticky -->
<script>
    window.onscroll = function() {myFunction()};

    var header = document.getElementById("myHeader");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }
</script>

<footer>
    <% include templates/footer %>
</footer>


</body>
</html>
