<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../javascripts/comment.js"></script>
    <% include templates/head %>
</head>

<!-- displays stories for clicked event -->
<body>
    <% include templates/header %>

    <div class="story-content ">
        <h3 class="title"><a href="/create-story/<%=eventID%>"><img class="story-icon" src="/stylesheets/icons/plus.png"></a><%= eventTitle %></h3>
        <br>

        <div class="list-group list-group-item stories" id="stories">
            <%for (var i=stories.length-1; i>= 0; i--) {%>
                <a href='/view-story/<%= stories[i]._id %>' class='list-group list-group-item-action'>
                    <div class='list-group stories'>
                        <p>Description: <%=stories[i].storyDescription%></p>
                        <img src='<%= stories[i].storyImage%>' id='testImg'>
                    </div>
                </a>
            <% }%>
        </div>

        <footer>
            <% include templates/footer %>
        </footer>
    </div>



</body>

</html>